body{
    font-family: Arial, Helvetica, sans-serif;
}
.js-button-slice{
    border: none;
    font-size: small;
    padding: 10px;
    border-radius: 50px;
    color: aliceblue;
    background-color: maroon;
    
    /* grid-template-rows: 3; */
}
.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;

}
.todo-input-grid{
    margin-bottom: 10px
    ;
}
.name-input,
.due-date-input{
    font-size: 15px;
    padding: 6px;
}
.add-todo-button{
    border: none;
    font-size: small;
    padding: 5px;
    border-radius: 50px;
    color: aliceblue;
    background-color: green;
}

